<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<form name="nonFullSupplyForm">
  <div id="nonFullSupplyProductsModal" modal="nonFullSupplyProductsModal"
       options="{ backdrop: 'static', escape: false}">
    <div class="modal-header"><h3 openlmis-message="label.rnr.add.non.full.supply"></h3></div>
    <div class="modal-body">

      <div class="row-fluid">
        <div class="span7">
          <label for="nonFullSupplyProductsCategory" openlmis-message="label.category"></label>
          <select ui-select2 class="span11 bottom-spacer" id="nonFullSupplyProductsCategory"
                  ng-model="nonFullSupplyProductCategory" name="productName"
                  openlmis-message="placeholder.select.category"
                  ng-options="nonFullSupplyProductCategory.name for nonFullSupplyProductCategory in nonFullSupplyProductsCategories"
                  ng-change="updateNonFullSupplyProductsToDisplay(); clearNonFullSupplyProductModalData()">
            <option></option>
          </select>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span7">
          <label for="nonFullSupplyProductsCodeAndName" openlmis-message="label.product.code"></label>
          <select ui-select2="{formatNoMatches: formatNoMatches}" class="span11 bottom-spacer"
                  id="nonFullSupplyProductsCodeAndName"
                  ng-model="facilityApprovedProduct" name="productCode" openlmis-message="placeholder.select.product"
                  ng-options="facilityTypeApprovedProduct.programProduct.product.code+' | '+facilityTypeApprovedProduct.programProduct.product.primaryName for facilityTypeApprovedProduct in nonFullSupplyProductsToDisplay">
            <option></option>
          </select>
        </div>
      </div>

      <div class="row-fluid">
        <div class="span2">
          <label for="quantityRequested">
            <span ng-bind="labelForRnrColumn('quantityRequested')"></span></label>
          <input type="text" class="span12" name="newNonFullSupply.quantityRequested"
                 ng-model="newNonFullSupply.quantityRequested"
                 id="quantityRequested"
                 rnr-validator="positiveInteger" maxlength="8"/><br>
            <span class="rnr-form-error" style="display:none;" id="newNonFullSupply.quantityRequested"
                  openlmis-message="error.number.only">
            </span>
        </div>
        <div class="span6">
          <label for="reasonForRequestedQuantity"><span
            ng-bind="labelForRnrColumn('reasonForRequestedQuantity')"></span></label>
          <input type="text" class="span12" ng-model="newNonFullSupply.reasonForRequestedQuantity"
                 id="reasonForRequestedQuantity" maxlength="250"/><br>
            <span class="alert alert-warning warning-alert"
                  ng-show="newNonFullSupply.quantityRequested && !newNonFullSupply.reasonForRequestedQuantity"
                  openlmis-message="error.reason.required">
            </span>
        </div>
        <div class="span3">
          <label>&nbsp;</label>
          <input type="button" href="" id="addNonFullSupply" class="btn btn-primary"
                 ng-click="addNonFullSupplyProductsByCategory()"
                 ng-disabled="shouldDisableAddButton()" openlmis-message="button.add"/>
        </div>
      </div>

      <hr/>

      <div class="non-full-supply-product-list" ng-show="addedNonFullSupplyProducts.length">
        <div class="row-fluid" ng-repeat="nonFullSupplyProduct in addedNonFullSupplyProducts">

          <div class="span5">
            <div class="fluid-grid-cell" id="nonFullSupplyProductCodeAndName">
              <label ng-bind="nonFullSupplyProduct.productCode+' | '+nonFullSupplyProduct.productName"></label>
            </div>
          </div>

          <div class="span2">
            <div class="fluid-grid-cell">
              <input type="text" ng-class="highlightRequiredFieldInModal(nonFullSupplyProduct.quantityRequested)"
                     name="nonFullSupplyProductQuantityRequested{{$index}}" rnr-validator="positiveInteger"
                     ng-required="true" maxlength="8" ng-model="nonFullSupplyProduct.quantityRequested"
                     openlmis-message="placeholder.quantity"/>
                <span class="rnr-form-error" style="display:none;"
                      id="nonFullSupplyProductQuantityRequested{{$index}}" openlmis-message="error.number.only">
                </span>
            </div>
          </div>

          <div class="span4">
            <div class="fluid-grid-cell" id="nonFullSupplyProductReasonForRequestedQuantity">
              <input type="text"
                     ng-class="highlightRequiredFieldInModal(nonFullSupplyProduct.reasonForRequestedQuantity)"
                     maxlength="250" ng-required="true"
                     ng-model="nonFullSupplyProduct.reasonForRequestedQuantity"
                     openlmis-message="placeholder.explanation"/>
            </div>
          </div>

          <div class="span1">
            <div class="fluid-grid-cell delete-role">
              <a href="" class="close" value="delete"
                 ng-click="deleteCurrentNonFullSupplyLineItem($index)">&times;</a>
            </div>
          </div>

        </div>
      </div>

    </div>
    <div class="alert alert-danger" id="modalErrorMessage" ng-show="modalError" openlmis-message="modalError"></div>

    <div class="modal-footer">
      <input type="button" id="doneNonFullSupply" class="btn btn-primary"
             ng-click="addNonFullSupplyLineItemsToRnr()"
             openlmis-message="button.done"/>

      <input type="button" id="cancelNonFullSupply" class="btn btn-cancel"
             ng-click="nonFullSupplyProductsModal=false;modalError=''"
             openlmis-message="button.cancel"/>
    </div>
  </div>
</form>