<!--
  ~ Copyright © 2013 VillageReach.  All Rights Reserved.  This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
  ~
  ~ If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
  -->

<ng-include src="'/public/pages/logistics/rnr/partials/header.html'"></ng-include>
<div>
  <form name="saveRnrForm" action="#" id="rnr-form" novalidate>
    <ng-include src="'/public/pages/logistics/rnr/partials/tabs.html'"></ng-include>
    <div id="pageErrors" class="rnr-page-errors" ng-show="errorPages.nonFullSupply">
      <div ng-switch on="errorPages.nonFullSupply.length" class="dropdown">
        <a href="" ng-switch-when="1" class="dropdown-toggle" openlmis-message="error.one.page"></a>
        <a href="" ng-switch-default class="dropdown-toggle"
           openlmis-message="error.multiple.pages|nonFullSupplyErrorPagesCount">
        </a>
        <ul class="dropdown-menu">
          <li ng-repeat="page in errorPages.nonFullSupply">
            <a href="" ng-click="goToPage(page, $event)">{{page}}</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="clearfix">
      <br/>
      <input type="button" ng-click="showAddNonFullSupplyModal()" class="pull-right btn btn-primary"
             ng-disabled="formDisabled || !(addNonFullSupplyLineItemButtonShown.visible)"
             openlmis-message="button.add"/>
    </div>

    <div class="rnr-table" tab-scroll bottom-offset="180" custom-horizontal-scroll>
      <table id="nonFullSupplyTable" fixed-table-header class="table table-bordered scrollable"
             ng-show="pageLineItems.length > 0">
        <thead>
        <tr>
          <th class="col-{{programRnrColumn.name}}" ng-repeat="programRnrColumn in visibleNonFullSupplyColumns"
              ng-bind="programRnrColumn.label"></th>
        </tr>
        </thead>
        <tbody ng-repeat="rnrLineItem in pageLineItems">
        <tr>
          <td class="productCategory" colspan="{{visibleNonFullSupplyColumns.length}}" ng-show="showCategory($index)"
              ng-bind="rnrLineItem.productCategory"></td>
        </tr>
        <tr>
          <td class="cell-input" ng-repeat="column in visibleNonFullSupplyColumns">
            <ng-switch on="column.name">
              <span ng-switch-when="remarks">
                <input ng-disabled="formDisabled" id="{{getId(column.name, $parent)}}" type="text"
                       name="remarks{{rnrLineItem['id']}}"
                       ng-model="rnrLineItem[column.name]"
                       maxlength="250"/>
              </span>

              <span ng-switch-when="quantityRequested">
                <input ng-disabled="formDisabled" id="{{getId(column.name, $parent)}}" type="text"
                       name="quantityRequested{{rnrLineItem['productCode']}}"
                       ng-model="rnrLineItem.quantityRequested"
                       ng-required="true"
                       ng-class="highlightRequired(rnrLineItem[column.name])"
                       rnr-validator="positiveInteger" maxlength="8"
                       ng-change="rnr.fillPacksToShip(rnrLineItem)"/>
                <span class="rnr-form-error" id="quantityRequested{{rnrLineItem['productCode']}}"
                      style="display:none;" openlmis-message="error.number.only">
                </span>
              </span>

              <span ng-switch-when="reasonForRequestedQuantity">
                <input ng-disabled="formDisabled" id="{{getId(column.name, $parent)}}" type="text"
                       name="reasonForRequestedQuantity{{rnrLineItem['id']}}"
                       ng-model="rnrLineItem[column.name]"
                       ng-required="true"
                       ng-class="highlightWarning(rnrLineItem.reasonForRequestedQuantity)"
                       maxlength="250"/>
                <span class="alert alert-warning warning-alert" openlmis-message="error.reason.required"
                      ng-show="rnrLineItem.quantityRequested && !rnrLineItem.reasonForRequestedQuantity">
                </span>
              </span>
              <span ng-switch-when="price">
                <span ng-bind="rnrLineItem[column.name] | currency:currency" id="{{getId(column.name, $parent)}}"
                      class="cell-text"></span>
              </span>
              <span ng-switch-when="cost">
                <span ng-bind="rnrLineItem[column.name] | currency:currency" id="{{getId(column.name, $parent)}}"
                      class="cell-text"></span>
              </span>
              <span ng-switch-when="lossesAndAdjustments">
                <span ng-bind="rnrLineItem['totalLossesAndAdjustments']" class="cell-text"></span>
              </span>
          <span ng-switch-default ng-bind="rnrLineItem[column.name]" id="{{getId(column.name, $parent)}}"
                class="cell-text"></span>

            </ng-switch>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--TODO move non full supply modal form into partial-->
    <ng-include src="'/public/pages/logistics/rnr/partials/create/add-non-full-supply-modal.html'"></ng-include>
    <ng-include src="'/public/pages/logistics/rnr/partials/controls.html'"></ng-include>
  </form>
</div>
